section.tweet-container {
margin-top: 40px;
opacity: .5;
box-sizing: border-box;
/*width: 400px;
height: 150px;*/
}

section.tweet-container:hover {
  opacity: 1;
}

article.old-tweet header {
  display: inline-block;
    margin-left: 23px;
    width: 400px;
    text-align: left;
}

article.old-tweet .user-name {
  text-align: right;
}

div.time {
  float: left;
  padding-left: 25px;

}

div.oldtext {
  box-sizing: content-box;
  width: 400px;
  height: 70px;

}

article.old-tweet img {
  width: 60px;
  float: left;
  height: auto;
}

button {
  text-align: center;
  background: #f3e5f5;
  border: none;
  float: right;
  margin-right: 5px;
}

button.stars {
  margin-right: 20px;

}